.custom-card {
  max-width: 672px;
  gap: 32px;
  border-radius: 8px;
  border: 1px solid #e2e8f0;
  padding: 32px;
}

.card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0;
  color: #1a2856;
  margin-bottom: 20px;
}

.aitividade-group {
  margin: 32px;
}
